.seed {
    color: black;
}

.header {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: 1vh 10vh repeat(5, 13vh);
    grid-gap: 10px;
    justify-content: center;
    height: 60vh;
    margin-top: 5vh;
}

.grid-item-seed {
    grid-column: 1 / -1;
    font-family: "Formula1";
    text-align: right;
    margin-right: 1vw;
}

.grid-item-header {
    grid-column: 1 / -1;
    background-color: black;
    font-family: "Formula1";
    color: #fff;
    padding-top: 2.5vh;
    text-align: center;
    font-size: 3.5vh;
    border-radius: 15px;
}

.grid-item-square {
    background-color: white;
    border-style: solid;
    border-color: #e10600;
    border-width: 5px;
    color: black;
    border-radius: 5px;
    font-size: calc(1vh + 30%);
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}